body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #f4f4f4;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}
.logo{
	width: 50px;
}
.menu-links{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-item{
	display: inline;
	margin: 0 15px;
}
.section-main-title{
	margin: 40px;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 55px;
	font-weight: bold;
}
.section-main-subtitle{
	margin-bottom: 40px;
	color: #fff;
	font-size: 22px;
}
.section-main-button{
	background-color: #8fbc8f;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 30px;
	cursor: pointer;
}
.menu-item-link{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.menu-item-link:hover{
	color: #ff6f61;
}
.hero{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url(herroback.jpg) no-repeat center center / cover;
	height: 100vh;
	color: white;
}
.hero-info{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border-radius: 10px;
	width: 720px;
}
.hero-title{
	font-size: 64px;
	margin: 0;
}
.hero-text{
	font-size: 24px;
	margin: 20px 0;
}
.intro,
.destinations,
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
}
.into-title,
.destination-title,
.contact-title{
	font-size: 40px;
	color: #333;
	margin-top: 20px;
}
.card{
	display: flex;
	font-direction: row;
	margin: 20px 0;
	padding: 20px;
	width: 900px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.card-img{
	width: 150px;
	height: 150px;
	border-radius: 20px;
	margin-right: 20px;
}
.card-content{
	text-align: left;
}
.card-title{
	margin-top: 0;
	color: #0073e6;
}
.card-list{
	padding: 0;
	list-style: none;
}
.card-list-item{
	margin: 10px 0;
	font-size: 20px;
}
.footer{
	padding: 10px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.destinations-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.destination{
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	width: 30%;
	margin: 15px;
	box-shadow: 0 4px rgba(0, 0, 0, 0.1);
}
.destination:hover{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.destination-img{
	width: 100%;
	border-radius: 10px;
}
.destination-title{
	font-size: 24px;
	color: #0073e6;
}
.destination-text{
	font-size: 18px;
	color: #444;
}
.form{
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
	max-width: 600px;
}
.form-label{
	display: block;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
.form-input,
.form-textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}
.form-textarea{
	min-height: 120px;
	resize: vertical;
}
.form-button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #ff6f61;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.form-button:hover{
	background-color: #e55a50;
}